---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import HeroSection from "../components/HeroSection.astro";
import Footer from "../components/Footer.astro";
import CarruselSection from "../components/CarruselSection.astro";
---

<Layout
  tittle="Daniel Flores - Cinematographer"
  description="Daniel Flores - Cinematographer"
>



  <Nav />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center" id="carrusel-section">
      <CarruselSection />
    </div>
    <div class="snap-center">
      <Footer />
    </div>
    
  </main> 
</Layout>

<script type="module" src="/scripts/filtro.js" />