---
import Logo from './Logo.astro';
import Carrusel from './Carrusel.astro';
import VerticalLine from './VerticalLine.astro';
---
<section class="landing-section h-screen w-full text-center relative overflow-hidden" data-header-color="black">

<div class=" bottom-5 left-0 w-full text-black text-center z-40 p-4 pointer-events-none" transition:name="logo">
  <Logo />
</div>

<div class="h-screen flex items-center">
  <Carrusel />
</div>

<div transition:name="vertical-line">
  <VerticalLine />
</div>

</section>
