<section
    class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
    data-header-color="white"
  >

    <div class="absolute top-0 bottom-0 h-full w-full">
      <video
        src="https://d2jho419m3gfgr.cloudfront.net/videos/profundidad169.mov"
        autoplay
        loop
        muted
        class="object-cover w-full h-full"
      >
      </video>
    </div>
  </section>