---

import { client } from '../lib/prismicio'
import { asText } from '@prismicio/helpers'
import Contador from './Contador.astro';

const proyectos = await client.getAllByType('proyecto')
const totalVideos = proyectos.length;

---  
  
  <header id="header" class="flex justify-between items-center py-4 px-10 fixed top-0 w-full z-40">

    <a class="flex flex-col items-start" href="/#carrusel-section" draggable="false">
    <h1>Cinematographer</h1>
    <h3>Based in Madrid</h3>
    </a>
    
    <Contador />

    <!-- Navigation Menu 

    <nav>
      <ul class="flex [&>li>a]:text-current [&>li>a]:inline-block [&>li>a]:px-3 [&>li>a]:py-1 [&>li>a]:transition-colors [&>li>a]:duration-500 [&>li>a]:ease-in-out">
        <li><a href="/">Home</a></li>
        <li><a href="/prueba">Music Videos</a></li>
        <li><a href="#commercial">Commercial</a></li>
        <li><a href="#commercial">Colorist</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </nav>

    <div id="menuBackDrop" class="-z-10 absolute opacity-0 bg-black/5 backdrop-blur-lg rounded translate-x-[var(--left)] translate-y-[var(--top)] w-[var(--width)] h-[var(--height)] transition-all duration-300 ease-in-out left-0 top-0"></div>

    -->

  

  </header>


  <!-- Add this script to handle the header color change on scroll-->
<script>
  const headerEl = document.querySelector("#header") as HTMLElement
  
  const observerOptions = { 
    root: null,
    rootMargin: "0px", 
    threshold: 0.1 
  }  

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => { 
      const { isIntersecting } = entry
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color")
        headerEl.style.color = color ?? ""

      }  
    })
  }, observerOptions) 

  const sectionsElement = document.querySelectorAll(".landing-section")
  sectionsElement.forEach((section) => observer.observe(section))

</script>  


<!-- Add this script to handle the menu backdrop effect 
<script>
const listItem = document.querySelectorAll("li")
const menuBackDrop = document.querySelector("#menuBackDrop") as HTMLElement


listItem.forEach((item) => {
    item.addEventListener("mouseover", () => {
        const { left, top, width, height } = item.getBoundingClientRect();
        const { clientHeight, clientWidth } = item;

        console.log({ left, top, width, height});
        console.log({ clientHeight, clientWidth})


        menuBackDrop.style.setProperty("--left", `${left}px`);
        menuBackDrop.style.setProperty("--top", `${top}px`);
        menuBackDrop.style.setProperty("--width", `${width}px`);
        menuBackDrop.style.setProperty("--height", `${height}px`);

        menuBackDrop.style.opacity = "1";
        menuBackDrop.style.visibility = "visible";
    });

    item.addEventListener("mouseleave", () => {
        menuBackDrop.style.opacity = "0";
        menuBackDrop.style.visibility = "hidden";
    });

});
</script>
-->